# ===============================
# Python cache & compiled files
# ===============================
__pycache__/
*.py[cod]
*$py.class
*.pyc

# ===============================
# Virtual environments
# ===============================
venv/
ENV/
.env
venv310/

# ===============================
# OS files
# ===============================
.DS_Store

# ===============================
# IDE settings
# ===============================
.vscode/
.idea/

# ===============================
# Model weights (heavy files)
# ===============================
*.pt
*.pth
*.onnx
weights/

# ===============================
# Output files
# ===============================
output/
logs/

# ===============================
# Data (optional – keep repo light)
# ===============================
data/samples/
data/videos/
data/images/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints

# ===============================
# Temporary files
# ===============================
*.log
models/*.pt